// Color system

$primary: #FFFFFF;
$secondary: #8D8D8D;
$title: #1B3949;
$confirm: #FFA700;
$dark: #292929;
$gray-medium: #707070;
$gray: #95989A;
$gray-light: #CECECE;
$gray-light-2: #0000001A;
$gray-1: #00000029;
$gray-1-light: #F2F2F2;
